# Python 编译文件
__pycache__/
*.py[cod]
*$py.class
*.so

# 环境/包
.env
.venv
env/
venv/
*.egg-info/
dist/
build/

# 1. 避开原始数据和内容（但保留文件夹）
data_raw/raw/*
data/*

# 2. 避开 LoRA 微调权重和模型文件
models/
outputs/
*.safetensors
*.bin
*.pt
*.pth
*.ckpt

# 编辑器配置
.vscode/
.idea/
.DS_Store

# 日志
*.log
